source http://nuget.org/api/v2

nuget FAKE
nuget SourceLink.Fake
nuget Nuget.CommandLine
nuget FSharp.Formatting 2.2.11-beta
nuget FSharpx.Core 1.8.41
nuget Fuchu 0.4.0.0
nuget Microsoft.AspNet.Razor 2.0.30506.0
nuget Microsoft.Net.Http 2.0.20710.0
nuget NUnit.Runners 2.6.3
nuget RazorEngine 3.3.0
nuget Unquote 2.2.2
