source https://nuget.org/api/v2

nuget Aether
nuget Arachne.Http
nuget Arachne.Http.Cors
nuget Arachne.Uri.Template
nuget Chiron
nuget FParsec
nuget FSharp.Core
nuget Hekate
nuget Microsoft.Owin.SelfHost
nuget Microsoft.Owin.Testing
nuget NUnit
nuget NUnit.Runners
nuget System.Net.Http
nuget Unquote
nuget FAKE
nuget SourceLink.Fake
nuget Nuget.CommandLine
