source https://nuget.org/api/v2

nuget Aether
nuget Fleece
nuget FParsec
nuget FSharp.Core
nuget Hekate
nuget Microsoft.Owin.SelfHost
nuget NUnit
nuget NUnit.Runners
nuget Unquote
nuget FAKE
nuget SourceLink.Fake
nuget Nuget.CommandLine
nuget Hekate