type project
id
    Freya.Hopac
title
    Freya.Hopac
description
    Batteries-included Freya Stack (Hopac implementation)
tags
    functional, web, f#, freya, hopac
version
    3.0.0-rc01
owners
    Andrew Cherry, Ryan Riley
authors
    Andrew Cherry, Ryan Riley
copyright
    Copyright Xyncro Ltd 2016
projectUrl
    https://xyncro.tech/freya
licenseUrl
    https://github.com/xyncro/freya-meta/blob/master/LICENSE.md
requireLicenseAcceptance
    false
files
    !./bin/*.*
